a {
  color: #438686;
}

a:hover {
  color: #438686;
}

table, td {
    border: 1px solid black;
}

td {
    padding: 4px;
}

img {
  max-width: 100%;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-outline-primary {
  color: #09569e;
  background-color: transparent;
  background-image: none;
  border-color: #09569e;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #09569e;
  border-color: #09569e;
}

/*
 *
 * ===== Navbar =====
 *
 */

.navbar-brand {
  width: 44px;
  height: auto;
}

.tk-navbar {
  background-color: #09569e;
  /* background-color: #011426; */
  /* background-color: #774466; */
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
  position: -webkit-sticky;
  position: sticky;
  min-height: 4rem;
  top: 0;
  z-index: 1071;
}

.tk-navbar .navbar-nav-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}

.tk-navbar .nav-link.active {
  font-weight: 500;
}

/*
 *
 * ===== Sidebar =====
 *
 */

.tk-sidebar {
  order: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: calc(100vh - 4rem);
  border-right: 1px solid rgba(0,0,0,.1);
}

.tk-sidebar {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 320px;
  flex: 0 1 320px;
}

.tk-sidebar .nav > li > a {
  display: block;
  padding: .25rem 1.5rem;
  font-size: 90%;
}

.tk-sidebar .nav > li a
{
  color: rgba(0,0,0,.65);
}
.tk-sidebar .nav > li > a:hover {
  color: #438686;
}

.tk-links {
  display: block !important;
}

.tk-links {
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
}

.tk-links {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: -15px;
  margin-left: -15px;
}
.tk-blog .tk-links {
  padding-top: 2rem;
}

.tk-sidenav {
  display: none;
}

/*
 *
 * ===== Content / Docs =====
 *
 */

.tk-search {
  position: relative;
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.tk-content {
  order: 1;
}

.tk-content,
.tk-content h1
{
  color: #333;
}

.tk-docs h1.tk-title {
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 2.25rem;
  /* border-bottom: 1px solid rgba(0,0,0,.1); */
  max-width: 80%;
}

.tk-lead h1.tk-title {
  font-size: 3rem;
  font-weight: 300;
}
.tk-lead p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.tk-content h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
}
.tk-content h2 {
  font-size: 1.75rem;
  font-weight: 400;
}
.tk-content h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.tk-content h4 {
  font-size: 1.25rem;
  font-weight: 400;
}
.tk-content h5 {
  font-size: 1rem;
  font-weight: 400;
}

.tk-content > h1:not(:first-child) {
  margin-top: 2rem;
}

.tk-content p {
  max-width: 80%;
}

.tk-next {
  text-align: right;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

/*
 * Offsets anchor links to avoid the sticky header
 */
.tk-content > h1[id]::before,
.tk-content > h2[id]::before,
.tk-content > h3[id]::before,
.tk-content > h4[id]::before
{
	display: block;
	height: 6rem;
	margin-top: -6rem;
	visibility: hidden;
	content: "";
}

.tk-toc {
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  -ms-flex-order: 2;
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;
}

.tk-toc li {
  display: block;
}
.tk-toc a {
	display: block;
	padding: .125rem 1.5rem;
	color: #99979c;
}

.section-nav {
	padding-left: 0;
	border-left: 1px solid #eee;
}
.section-nav ul {
	padding-left: 1rem;
}
.section-nav > ul {
  padding-left: 0;
}

.tk-toc-item.active:not(:first-child) {
  margin-top: 1rem;
}

.tk-toc-item.active {
  margin-bottom: 1rem;
}

.tk-toc-item.active > .tk-sidenav {
    display: block;
}

.tk-toc-link {
  display: block;
  padding: .25rem 1.5rem;
  font-weight: 500;
  color: rgba(0,0,0,.65);
}

.tk-single {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * ===== Homepage masthead =====
 *
 */

.tk-masthead {
  position: relative;
  padding: 3rem 15px;
}

.tk-masthead {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #323232;
}

.tk-masthead .container {
  max-width: 1000px;
}

.tk-masthead .tk-text-big {
  font-size: 4rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.1rem;
  /* color: #774466; */
}

.tk-masthead .tk-logo {
  display: block;
  max-height: 300px;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
}

.tk-masthead .tk-action {
  /* max-width: 300px; */
}

.tk-masthead .btn {
  padding: .8rem 2rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.btn-tk-primary {
  font-weight: 500;
  color: #09569e;
  border-color: #09569e;
}

.btn-tk-primary:active, .btn-tk-primary:hover {
  color: #fff;
  background-color: #09569e;
  border-color: #09569e;
}

.masthead-followup .fa {
  margin-right: 0.5rem;
}
.masthead-followup h3 {
  margin-bottom: 1rem;
}

.half-rule {
    width: 6rem;
    margin: 2.5rem 0;
}

.github-edit {
  float: right;
  margin-top: 2rem;
  line-height: 2rem;
}
.github-edit a {
  color: #99979c;
}
.github-edit .fa {
  font-family: inherit;
}

.github-edit .fa:before {
  font-family: "FontAwesome";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
}

/*
 *
 * ===== Footer =====
 *
 */

.tk-footer {
  font-size: 85%;
  text-align: left;
  background-color: #f7f7f7;
}

.tk-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;
}
.tk-footer-links li {
  display: inline-block;
}
.tk-footer-links li + li {
  margin-left: 1rem;
}
.tk-footer a {
  font-weight: 500;
  color: #495057;
}

/*
 *
 * ===== Highlight =====
 *
 */

code {
  color: #995577;
}

.hljs {
  display: block;
  overflow-x: auto;
  margin: 1rem 0rem;
  padding: 1.5rem;
  background: #f7f7f7;
  font-size: 90%;
  line-height: 1.2rem;
}


/* Base color: saturation 0; */

.hljs,
.hljs-subst {
  color: #444;
}

.hljs-comment {
  color: #818a91;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #338855;
}

.hljs-title,
.hljs-section {
  /*color: #429aed;*/
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}


/* Language color: hue: 90; */

.hljs-literal {
  color: #78A960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
    color: #995577;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/* Show section header on hover */

h2:hover a:after,
h3:hover a:after,
h4:hover a:after,
h5:hover a:after {
    content: '\2002\00a7\2002';
}

h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a {
    text-decoration: none;
}

@media (min-width:520px) {
  .jumbotron {
    padding: 4rem;
  }
}


 /*
 *
 * ===== Media queries =====
 *
 */


  /*
 @media (min-width: 768px) {
   .bootstrap-vertical-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
   }
   .bootstrap-vertical-nav .navbar ul {
      float: none;
   }
   .bootstrap-vertical-nav .navbar ul:not {
      display: block;
   }
   .bootstrap-vertical-nav .navbar li {
      float: none;
      display: block;
   }

   .bootstrap-vertical-nav .navbar-nav .nav-item+.nav-item {
      margin-left: 0;
   }
}

 @media screen and (min-width: 480px) {
  .hidden-lg-up {
    display: none !important;
  }
  .navbar-collapse {
    display: flex !important;
  }
}

 @media screen and (max-width: 479px) {
  .hd-lg-down {
    display: none !important;
  }
  .navbar-toggleable-md > .container {
      padding-right: 0;
      padding-left: 0;
  }

  .navbar-brand {
    margin-top: 0 !important;
    margin-right: 1rem !important;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    list-style: none;
  }

  .navbar-nav .nav-link {
    padding: 0;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .tk-footer-gray {
    text-align: center;
    flex-direction: column;
  }

  .tk-footer-social a .fa-github {
    margin-right: 1rem;
  }
}

@media (min-width: 1200px) {
  .tk-footer-gray {
    width: 1140px;
  }
}

@media (min-width: 992px) {
  .tk-footer-gray {
    width: 960px;
  }
}
*/
