/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 3rem 0 3rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
