<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/tokio.css">

    <title>{{ .Title }}</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-faded">
      <div class='banner-warning'>
        <h1>THIS WEBSITE IS A WORK IN PROGRESS</h1>
        <p>
          This website is currently a work in progress and will be announced
          shortly. If you stumble upon this we'd be grateful if you held off on
          tweeting or otherwise sharing it until it's ready.

          The current plan is to announce this website 2016-01-10 or very near
          this date!
        </p>
      </div>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="navbar-brand" href="/"><img src="/img/logo.png" width="44"
            height="40" class="align-middle" alt=""></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ ref . "docs/getting-started/tokio.md" }}">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ ref . "community/index.md" }}">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ ref . "blog/tokio-0.1.md" }}">Blog</a>
        </li>
      </ul>
    </nav>
