<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/tokio.css">

    <!-- Blog feed link -->
    <link rel="alternate" type="application/rss+xml" href="https://tokio.rs/blog/index.xml" />

    <title>{{ .Title }}</title>
  </head>
  <body>
    <header class="navbar navbar-light navbar-toggleable-md bd-navbar">
      <nav class="tk-main-nav">
        <div class="d-flex justify-content-between hidden-lg-up">
            <a href="/" class="navbar-brand">
              <img src="/img/logo.png" class="align-middle" alt="">
            </a>
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#tk-main-nav" aria-label="Toggle navigation" aria-controls="tk-main-nav" aria-expanded="false">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="tk-main-nav">
          <ul class="nav navbar-nav">
            <li class="nav-item hd-lg-down">
              <a class="navbar-brand" href="/"><img src="/img/logo.png" class="align-middle" alt=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ ref . "docs/getting-started/tokio.md" }}">Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ ref . "community/index.md" }}">Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ ref . "blog/tokio-reform.md" }}">Blog</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
