{{ partial "header" . }}

<div class="jumbotron">
  <div class="tk-jumbotron">
    <img src="/img/logo-large.png" class="align-middle tk-logo" alt="">
    <p class="lead">A platform for writing fast networking code with Rust.</p>
    <a href="{{ ref . "docs/getting-started/tokio.md" }}" class="btn call-to-action" role="button" aria-pressed="true">Get Started</a>
  </div>
</div>

<div class="container tk-home">
  <div class="row">
    <div class="col-md-5">
      <div class="tk-features">
        <h2>
          <i class="fa fa-rocket" aria-hidden="true"></i>
          Fast
        </h2>
        <p>Tokio's zero-cost abstractions give you bare-metal performance.</p>

        <h2>
          <i class="fa fa-cogs" aria-hidden="true"></i>
          Productive
        </h2>
        <p>Tokio makes it easy to implement protocols and program asynchronously.</p>

        <h2>
          <i class="fa fa-bug" aria-hidden="true"></i>
          Reliable
        </h2>
        <p>Tokio leverages Rust's ownership and concurrency model to ensure
        thread safety.</p>

        <h2>
          <i class="fa fa-dashboard" aria-hidden="true"></i>
          Scalable
        </h2>
        <p>Tokio has a minimal footprint, and handles backpressure and
        cancellation naturally.</p>
      </div>
    </div>
    <div class="col-md-7">
      <div class="tk-content">
        <pre>
<code>// A tiny async echo server with tokio-core
extern crate futures;
extern crate tokio_core;
extern crate tokio_io;

use futures::{Future, Stream};
use tokio_io::{io, AsyncRead};
use tokio_core::net::TcpListener;
use tokio_core::reactor::Core;

fn main() {
    // Create the event loop that will drive this server
    let mut core = Core::new().unwrap();
    let handle = core.handle();

    // Bind the server's socket
    let addr = "127.0.0.1:12345".parse().unwrap();
    let tcp = TcpListener::bind(&addr, &handle).unwrap();

    // Iterate incoming connections
    let server = tcp.incoming().for_each(|(tcp, _)| {
        // Split up the read and write halves
        let (reader, writer) = tcp.split();

        // Future of the copy
        let bytes_copied = io::copy(reader, writer);

        // ... after which we'll print what happened
        let handle_conn = bytes_copied.map(|(n, _, _)| {
            println!("wrote {} bytes", n)
        }).map_err(|err| {
            println!("IO error {:?}", err)
        });

        // Spawn the future as a concurrent task
        handle.spawn(handle_conn);

        Ok(())
    });

    // Spin up the server on the event loop
    core.run(server).unwrap();
}
</code>
        </pre>
      </div>
    </div>
  </div>
</div>

{{ partial "footer" . }}
