.footer__bottom {
  a {
    color: #5396d1;
    text-decoration: none;
  }
  a:hover {
    color: var(--ifm-color-primary-darkest)

  }
}

.theme-doc-footer {
    border-top: 1px solid var(--ifm-table-border-color);
    padding-top: 2rem;
}

html[data-theme="dark"] .footer {
   --ifm-footer-background-color: #383838;
}

.footer {
   --ifm-footer-background-color: black;
}

.footer__links {
  a:hover {
    color: $magenta;
    text-decoration: none;
  }
}

.footer__title  {
  margin-bottom: .5rem;
}

.footer__copyright {
  a:hover {
    color: $magenta;
    text-decoration: none;
  }
}
