.footer__bottom {
  a {
    color: #5396d1;
    text-decoration: none;
  }
  a:hover {
    color: var(--ifm-color-primary-darkest)

  }
}

.theme-doc-footer {
    border-top: 2px solid var(--ifm-table-border-color);
}
