.logo {
  fill: black;
  display: block;
  margin: auto;
  padding: .9rem 0 .9rem 0;
}

[data-theme='dark'] .logo {
  fill: white;
}

.stroke {
  stroke: black;
  fill: none;
}

[data-theme='dark'] .stroke {
  stroke: white;
  fill: none;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 75%;
  max-width: 8rem;
  margin: 0 auto;
}

.aws {
  transform: scale(0.5);
}

.title {
  padding-bottom: 2rem;
}
