{{- if eq (.Get 0) "tokio" -}}
{{- .Site.Params.tokioDocsURL -}}
{{- else if eq (.Get 0) "tokio-executor" -}}
{{- .Site.Params.tokioExecutorDocsURL -}}
{{- else if eq (.Get 0) "tokio-io" -}}
{{- .Site.Params.tokioIoDocsURL -}}
{{- else if eq (.Get 0) "tokio-timer" -}}
{{- .Site.Params.tokioTimerDocsURL -}}
{{- else if eq (.Get 0) "bytes" -}}
{{- .Site.Params.bytesDocsURL -}}
{{- else if eq (.Get 0) "core" -}}
{{- .Site.Params.coreDocsURL -}}
{{- else if eq (.Get 0) "futures" -}}
{{- .Site.Params.futuresDocsURL -}}
{{- else if eq (.Get 0) "proto" -}}
{{- .Site.Params.protoDocsURL -}}
{{- else if eq (.Get 0) "service" -}}
{{- .Site.Params.serviceDocsURL -}}
{{- end -}}
