// Tokio color palette
$cream: #faf8f4;
$magenta: #c83895;
$red: #e7544c;
$orange: #f5a623;
$yellow: #e2b619;
$green: #95ca51;
$blue: #5396d1;
$purple: #a674e5;
$dark-gray: #606060;
$gray: #a0a0a0;

// Each color is associated with a library
$tk-lib-tokio: $magenta;
$tk-lib-hyper: $orange;
$tk-lib-tonic: $yellow;

// Bulma color variables
$primary: $cream;
$primary-invert: black;
$title-color: black;

// Bulma text variables
$body-font-size: 1.06em;
$family-primary: "Roboto", sans-serif;

// Bulma navbar variables
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-active-color: white;
$navbar-background-color: black;
$navbar-item-hover-background-color: black;
$navbar-item-active-background-color: black;
$navbar-height: 5rem;
$navbar-item-img-max-height: 5rem;
$navbar-padding-vertical: 0;
$navbar-padding-horizontal: 1rem;

// Bulma card variables
$card-shadow: 0;
$card-content-padding: 1rem;
$card-media-margin: 1rem;

// Footer
$footer-background-color: black;
$footer-color: white;

@import "../node_modules/bulma/bulma.sass";

.container {
  max-width: 1150px;
}

.navbar {
  hr {
    background-color: $gray;
    height: 2rem;
    width: 1px;
    margin: 1rem 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
  }
  .navbar-item {
    &.navbar-text {
      font-size: 1.06em;
      padding: 0 1.5rem;
    }
    &.navbar-icon {
      padding: 0 1rem;
    }
    .icon {
      height: 1.8rem;
      width: 1.8rem;
    }
  }
}

.hero {
  .title {
    font-size: 1.7em;
  }

  &.tk-intro {
    padding: 0.8rem;
    .container {
      max-width: 600px;
    }
    .title {
      font-size: 2.4em;
      line-height: 1.2em;
      padding-bottom: 0.25em;
    }
    .subtitle {
      font-weight: 300;
      font-size: $body-font-size;
    }
    .button {
      background-color: $tk-lib-tokio;
      font-weight: 500;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &.tk-users {
    .title {
      font-size: 1.8em;
      margin-bottom: 1em;
    }
    .column {
      padding: 20px 00px;
    }
    .image img {
      width: 70%;
      max-width: 8rem;
      margin: 0 auto;
    }
  }
}

.tk-libs,
.tk-stack {
  > .container {
    padding: 2em 1em;
    max-width: 1050;
  }

  .title {
    font-size: 1.6rem;
  }

  .subtitle {
    font-weight: 300;
    font-size: $body-font-size;
  }
}

.tk-libs {
  background-color: $cream;

  .hero {
    margin: 2em;

    .title {
      padding-bottom: 0.55em;
    }
  }

  .card {
    margin: 0.75em;
    border: 2px solid black;
    border-radius: 4px;
  }

  .tk-lib {
    .title {
      img {
        margin-right: 0.4rem;
      }
    }
    .learn-more {
      font-weight: 600;
    }
  }

  .tk-lib-tokio {
    .title,
    .learn-more a {
      color: $tk-lib-tokio;

      // Align the logo
      img {
        vertical-align: -30%;
      }
    }
    .card {
      border-color: $tk-lib-tokio;
    }
  }

  .tk-lib-hyper {
    .title,
    .learn-more a {
      color: $tk-lib-hyper;

      // Align the logo
      img {
        vertical-align: -60%;
      }
    }
    .card {
      border-color: $tk-lib-hyper;
    }
  }

  .tk-lib-tonic {
    .title,
    .learn-more a {
      color: $tk-lib-tonic;

      // Align the logos
      img {
        vertical-align: -30%;
      }
    }
    .card {
      border-color: $tk-lib-tonic;
    }
  }
}

.tk-stack {
  .menu {
    font-size: 0.9rem;
  }

  .card {
    margin: 10rem 0;
  }

  .tk-stack-fig {
    position: sticky;
    top: 0;
  }
}

.footer {
  min-height: 600px;
}