@use 'sass:color';

// Tokio color palette
$cream: #faf8f4;
$magenta: #c83895;
$red: #e7544c;
$orange: #f5a623;
$yellow: #e2b619;
$green: #95ca51;
$blue: #5396d1;
$purple: #a674e5;
$dark-gray: #606060;
$light-gray: #f0f0f0;
$gray: #a0a0a0;

// Each color is associated with a library
$tk-lib-runtime: $magenta;
$tk-lib-hyper: $orange;
$tk-lib-tonic: $yellow;
$tk-lib-tower: $green;
$tk-lib-mio: $red;
$tk-lib-tracing: $purple;
$tk-lib-bytes: $blue;

// Per lib styling: [ name, color, size, logo-adjust ]
$libs: "tokio" black 3.8rem -60%, "runtime" $tk-lib-runtime 2.2rem -22%,
  "hyper" $tk-lib-hyper 100% -50%, "tonic" $tk-lib-tonic 100% -25%,
  "tower" $tk-lib-tower 100% -52%, "mio" $tk-lib-mio 100% -41%,
  "tracing" $tk-lib-tracing 100% -31%, "bytes" $tk-lib-bytes 100% -30%;

// Bulma color variables
$primary: $cream;
$primary-invert: black;
$title-color: black;

// Bulma text variables
$body-font-size: 1.06em;
$menu-font-size: 1rem;
$family-primary: "Roboto", sans-serif;

// Bulma navbar variables
$navbar-item-color: white;
$navbar-item-hover-color: $magenta;
$navbar-item-active-color: white;
$navbar-background-color: black;
$navbar-item-hover-background-color: black;
$navbar-item-active-background-color: black;
$navbar-height: 5rem;
$navbar-item-img-max-height: 5rem;
$navbar-padding-vertical: 0;
$navbar-padding-horizontal: 1rem;

// Bulma menu variables
$menu-label-font-size: 0.9rem;
$menu-item-color: $dark-gray;
$menu-item-active-color: black;
$menu-item-active-background-color: white;
$menu-list-border-left: 0;
$menu-item-hover-color: $magenta;
$menu-item-hover-background-color: transparent;
$menu-label-spacing: 0.5rem;
$menu-nested-list-margin: 0 0.5rem 0rem 0rem;
$menu-list-link-padding: 0.6rem 0.75rem;

// Bulma card variables
$card-shadow: 0;
$card-content-padding: 1rem;
$card-media-margin: 1rem;

// Footer
$footer-background-color: black;
$footer-color: white;

@import "../node_modules/bulma/bulma.sass";

// Darken colors
@function darken($color) {
  @return color.scale($color, $lightness: -15%);
}

.navbar {
  hr {
    background-color: $gray;
    height: 2rem;
    width: 1px;
    margin: 1rem 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
  }
  .navbar-item {
    &.navbar-text {
      font-size: $body-font-size;
      padding: 0 1.5rem;
    }
    &.navbar-icon {
      padding: 0 1rem;
    }
    .icon {
      height: 1.8rem;
      width: 1.8rem;
    }
  }
}

.tk-landing {
  .container {
    max-width: 1150px;
  }
}

.hero {
  .title {
    font-size: 1.7em;
  }

  &.tk-intro {
    padding: 0.8rem;
    .container {
      max-width: 650px;
    }
    .title {
      font-size: 2.4em;
      line-height: 1.2em;
      padding-bottom: 0.25em;
    }
    .subtitle {
      font-weight: 300;
      line-height: 1.5rem;
      font-size: $body-font-size;
    }
    .button {
      background-color: $tk-lib-runtime;
      font-weight: 500;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .button:hover {
      background-color: darken($magenta);
    }
  }

  .tk-hero-bg {
    position: relative;
    min-width: 50%;

    .tk-float {
      user-select: none;
      position: absolute;
      will-change: transform;
      z-index: 0;

      img {
        will-change: transform;
      }
    }

    @mixin spin-right($radius, $dur) {
      width: $radius;
      height: $radius;
      animation: spin-right $dur linear infinite;

      img {
        animation: spin-left $dur linear infinite;
      }
    }

    @mixin spin-left($radius, $dur, $dur2: $dur) {
      width: $radius;
      height: $radius;
      animation: spin-left $dur linear infinite;

      img {
        animation: spin-right $dur2 linear infinite;
      }
    }

    @keyframes spin-right {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
    @keyframes spin-left {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    #tk-float-hyper {
      top: -30px;
      left: calc(-20%);
      @include spin-right(60px, 6s);
    }
    #tk-float-tonic {
      top: 60px;
      left: -200px;
      @include spin-left(80px, 30s);
    }
    #tk-float-tower {
      bottom: -10px;
      @include spin-left(50px, 4s, 4.1s);
    }
    #tk-float-bytes {
      top: 110px;
      right: -120px;
      @include spin-right(50px, 8s);
    }
    #tk-float-mio {
      bottom: 0px;
      right: 15px;
      @include spin-right(60px, 10s);
    }
    #tk-float-runtime {
      bottom: 35px;
      right: -210px;
      @include spin-left(50px, 9s);
    }
    #tk-float-runtime2 {
      bottom: 10px;
      left: -210px;
      @include spin-left(50px, 9s);
    }
    #tk-float-tracing {
      top: 0;
      right: -190px;
      @include spin-left(75px, 18s, 15s);
    }
  }

  &.tk-users {
    .title {
      font-size: 1.8em;
      margin-bottom: 1em;
    }
    .column {
      padding: 20px 00px;
    }
    .image img {
      width: 70%;
      max-width: 8rem;
      margin: 0 auto;
    }
  }
}

.tk-features,
.tk-stack {
  > .container {
    padding: 2em 1em;
    max-width: 1050;
  }

  code {
    color: $dark-gray;
  }

  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-weight: 300;
    font-size: $body-font-size;
  }
}

.tk-features {
  background-color: $cream;

  .hero {
    margin: 2em;

    .title {
      padding-bottom: 0.55em;
    }
  }

  .card {
    margin: 0.75em;
    border: 2px solid black;
    border-radius: 4px;
  }

  .tk-lib {
    .title {
      img {
        margin-right: 0.4rem;
      }
    }
    .subtitle {
      line-height: 1.5rem;
    }
    .learn-more {
      font-weight: 600;
    }
  }

  @each $name, $color, $size, $adjust in $libs {
    .tk-lib-#{$name} {
      .title,
      .learn-more a {
        color: $color;
      }
      .learn-more a:hover {
        color: darken($color);
      }
      .card {
        border-color: $color;
      }
    }
  }
}

.tk-stack {
  .menu {
    font-size: 0.9rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    li {
      line-height: 0.5;
      font-weight: 400;
    }

    li.is-active {
      font-weight: 500;
    }

    @each $name, $color, $size, $adjust in $libs {
      .tk-lib-#{$name} {
        a:hover {
          color: $color;
        }

        &.is-active {
          background-color: $color;

          a {
            color: white;
          }
        }
      }
    }
  }

  img.tk-stack-active {
    opacity: 1 !important;
  }

  // Used to anchor the sticky elements
  .anchor {
    position: sticky;
    height: 25rem;
    top: 10%;

    > img {
      display: block;
      position: absolute;
      opacity: 0.15;
      transition: opacity 0.5s ease-in-out;
    }
    #tk-stack-lines:not(.tk-stack-active) {
      opacity: 0;
    }
  }

  .card {
    margin: 15rem 0;
  }
  .card:first-child {
    margin-top: 5rem;
  }
  .card:last-child {
    margin-bottom: 7.5rem;
  }

  .tk-libs {
    .title img {
      margin-right: 0.5rem;
    }
  }

  // Per lib styling
  @each $name, $color, $size, $adjust in $libs {
    .tk-lib-#{$name} {
      .title,
      .learn-more a {
        color: $color;
      }
      .title img {
        vertical-align: $adjust;
        height: $size;
      }
    }
  }
}

.tk-docs {
  // min-height: 500px;

  .tk-docs-nav {
    background-color: $light-gray;
  }

  .menu {
    font-size: $menu-font-size;
    position: sticky;
    top: 4rem;
    max-width: 260px;
    margin-left: auto;
    padding-bottom: 4rem;

    .menu-label a {
      color: $dark-gray;
    }

    .tk-menu-back {
      margin-top: 1rem;
    }

    li {
      > a {
        line-height: 1.2;

        b {
          display: block;
          margin-bottom: 0.4rem;
        }
      }
    }

    li.is-active {
      background-color: white;

      > ul {
        padding-bottom: 0.5rem;
      }

      > a {
        font-weight: 400;
        color: black;
      }
    }
  }

  .tk-content {
    color: black;
    font-weight: 300;
    font-size: 1.13rem;
    max-width: 800px;
    margin-left: 8%;
    margin-right: 30px;
    padding-bottom: 10rem;

    h1.title {
      font-size: 2.5rem;
      // margin-bottom: 1.2rem;
      font-weight: 400;
    }

    h1:not(.title) {
      font-size: 1.8rem;
      padding-bottom: 0.5rem;
      border-bottom: solid 1px $light-gray;
    }

    h2 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    a {
      color: $magenta;
      font-weight: 400;
    }
    a:hover {
      color: darken($magenta);
    }

    // Smaller bullet size
    li {
      list-style-type: none;
      position: relative; /* It's needed for setting position to absolute in the next rule. */
    }
    li:not(:last-child) {
      margin-bottom: 1rem;
    }

    li::before {
      content: "·";
      position: absolute;
      left: -1.1rem;
      top: -1.15rem;
      font-size: 2.7rem;
    }

    code {
      color: $dark-gray;
    }
  }
}

.footer {
  min-height: 400px;
}
